<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

  <head> {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    
    <title>The Inoch XIII {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/lib/foundation/css/normalize.css">
    <link rel="stylesheet" href="/static/lib/foundation/css/foundation.css">

    <script src="/static/lib/foundation/js/vendor/modernizr.js"></script>

    <style>
     #content {
       padding: 4em;
     }
     #sidebar {
       padding-top: 4em;
     }

     .mumblechan {
       font-weight: 200;
       font-size: 1.1em;
       list-style-type: none;
     }
     .mumbleuser {
       color: darkslategray;
       list-style-type: disc;
       margin-left: 1em;
     }
    </style>
  {% endblock head %}


  <body>



    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">XIII</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">

        <!-- Left Nav Section -->
        <ul class="left">
	  <li><a href="/professions">Professions</a></li>
	  <li><a href="/faq">FAQ</a></li>
        </ul>
	
        <!-- Right Nav Section -->
	  <ul class="right">
	    <div id="assetsTarget">
	  </ul>
      </section>
    </nav>

    
    <div class="row">
      <div id="content" class="medium-8 columns">{% block content %}{% endblock %}</div>

      <div id="sidebar" class="medium-4 columns">
	{{ sidebar_md }}
	<div id="mumble-sidebar" style="padding-bottom:1em;">
	  <h3>Voice <small>homebrew.mumble.com:9812</small></h3>
	  <div id="mumbleTarget"></div> <!-- handlebars -->
	  <a href="http://www.mumble.com/mumble-download.php">Install Mumble...</a>
	</div> 
      </div>
    </div>
    
    

    <script src="/static/lib/handlebars.js"></script>
    <script src="/static/lib/foundation/js/vendor/jquery.js"></script>
    <script src="/static/lib/foundation/js/foundation.min.js"></script>
    
    
    <script id="mumbleTemplate" type="text/x-handlebars-template"> {% raw %}
	<ul> {{#each root.channels}}
	  <li class="mumblechan"> {{name}}
	    <ul> {{#each users}}
	      <li class="mumbleuser"> {{name}}</li>
	      {{/each}}
	    </ul>
	  </li>
	  {{/each}}
	</ul>
        <a href="{{x_connecturl}}" class="button" style="margin-bottom: 0;">Connect</a><br />
    </script> {% endraw %} 

    <script id="assetTemplate" type="text/x-handlebars-template"> {% raw %}
      <!-- topbar right nav -->
	<li><a href="https://docs.google.com/spreadsheets/d/1X9JMdmksP1QdThU_Hgvno9hJlUCtBp2Y568DwIrdhNw">{{gold}}</a></li>
    </script> {% endraw %}
    
    <script>
     $(document).foundation()

     var assetTemplate = Handlebars.compile(
       $('#assetTemplate').html());
     update_assets = function(){
       $.ajax({
	 url:"/assets.json",
	 dataType: "json",
	 timeout: 30000,
	 success: function(d){
	   $('#assetsTarget').html(assetTemplate(d));
	   /* console.log(d) */
	   $(document).foundation();
	 }
       });
     }();

     var mumbleTemplate = Handlebars.compile(
       $('#mumbleTemplate').html());
     update_mumble = function(){
       $.ajax({
	 url: "/mumble.json",
	 dataType: "json",
	 timeout: 30000, // 5min
	 success: function(mumble_status){
	   $('#mumbleTarget').html(mumbleTemplate(mumble_status));
	   // console.log(mumble_status);
	   $(document).foundation();
	   
	} 
       });
     };

     update_mumble();
     setInterval(update_mumble, 10000); // 10sec
     
    </script>
    {% block scripts %} {% endblock %}
  </body>
</html>
