{% extends "base.tmpl" %}

{% block head %} {{ super() }}
  <style>
  </style>
{% endblock head %}

{% block content %}
  {{ content_md }}
  
{% endblock content %}


{% block scripts %}
{% endblock scripts %}
