{% extends "base.tmpl" %}

{% block head %} {{ super() }}
  <style>
  </style>
{% endblock head %}

{% block content %}
  
  <div id="constitution">
    <h2> &nbsp;</h2>
    <p>When it becomes evident that the current guild system has failed the majority by rewarding the few, that govern by enslaving those it was to serve, a new union must be formed, and the old abolished.</p>
      <p>Since this has become the case across all nuian lands, five gentlemen have decided to champion the cause of a new fair union. In this union we will provide every man three major areas of support in return for their pledge of service. Every man will be offered fair market value for goods and services outside of their crafting expertise, a proactive response to any pirate, opposing faction, and same side greifers, and not only strength in numbers but a fair trade system allowing all members the opportunity to push packs across the ocean for their gain. In order for this system to be successful a strong and selective infrastructure must be put in place. The founders have assessed the craft and specialized skills and have determined that the strongest union is a union of XIII.</p>
  </div>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}
