{% extends "base.tmpl" %}

{% block head %} {{ super() }}
  <style>
  </style>
{% endblock head %}

{% block content %}
  <div id="content"> </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
