{% extends "base.tmpl" %}

{% block head %} {{ super() }}
  <style>
  </style>
{% endblock head %}

{% block content %}
  <div id="dropbox_content"> {{ content_md }}</div>
  <div id="dataTarget"></div>

  <script id="dataTemplate" type="text/x-handlebars-template"> {% raw %}
    {{#each .}}
    <div class="panel">

      <div class="row">
	<div class="medium-8 columns">
	  <h3> {{ Name }}</h3>
      <p> {{Comments}} </p>
	</div>
	<div class="medium-4 columns">
	  <h5 align="right"> {{guild_profession.name}}<br /> <small>{{guild_profession.value}}</small></h5>
	</div>
      </div>
      

      <ul>
	{{#each other_professions}}
	<li>{{@key}} - {{this}}</li>
	{{/each}}
      </ul>
    </div>
    {{/each}}
  </div> 
  </script> {% endraw %}

{% endblock content %}

{% block scripts %}
  <script>
   var dataTemplate = Handlebars.compile(
     $('#dataTemplate').html());

   update_google_professions_speadsheet = function(){
     $.ajax({
       url: "/professions.json",
       dataType: "json",
       timeout: 30000, // 5min
       success: function(google_speadsheet){
	 $('#dataTarget').html(dataTemplate(google_speadsheet['by_member']));
	 $(document).foundation();
	 
       } 
     });
   };

   update_google_professions_speadsheet();
   setInterval(update_google_professions_speadsheet, 60000); // 60sec
  </script>
{% endblock scripts %}
